# Explore Montreal Exchange

Using python to inspect [Montréal Exchange](https://www.m-x.ca/en/trading/data/options-list) for option prices

## Imports

In [1]:
import sys
import requests
import bs4
import lxml
import pandas as pd
from datareader import get_list, get_price

In [2]:
versions = f"""
python vesion : {''.join((str(sys.version_info[0]),'.',str(sys.version_info[1]),'.',str(sys.version_info[2])))}
pandas version: {pd.__version__}
requests version: {requests.__version__}
bs4 version: {bs4.__version__}
lxml version: {lxml.__version__}
"""
print(versions)

python vesion : 3.11.5
pandas version: 2.1.0
requests version: 2.31.0
bs4 version: 4.12.2
lxml version: 5.3.0

## Get List of Options

In [3]:
# inspect list of index options
# can also choose from etf, equity, currency, weekly
df = get_list('index')
df

,Name of Underlying Instrument,Option Symbol,Underlying Symbol
0,S&P/TSX 60 Index Standard Options,SXO,TX60
1,S&P/TSX Capped Utilities Index Options,SXV,TTUT
2,S&P/TSX Composite Index Banks (Industry Group)...,SXJ,TXBA

## Get Option Prices for Symbol

In [4]:
prices = get_price('SXO')
print(len(prices))
prices[0]

2

,Last update,TICKER,Last price,Net change,Bid price,Ask price,30-day historical volatility
0,"September 28, 2024 at 4:03 p.m. (Real-time)",SXO,"1,436.410",-3.510,"1,434.040","1,441.560",--

In [5]:
prices[1]

   Unnamed: 0_level_0     Calls                                            \
          Expiry date Bid price Ask price Last price Net change Open int.
0    October 18, 2024         0         0     245.40          0         0
1    October 18, 2024         0         0     235.40          0         0
2    October 18, 2024         0         0     225.40          0         0
3    October 18, 2024         0         0     215.50          0         0
4    October 18, 2024         0         0     205.50          0         0
..                ...       ...       ...        ...        ...       ...
85     March 21, 2025         0         0      66.40          0         0
86     March 21, 2025         0         0      60.30          0         0
87     March 21, 2025         0         0      54.50          0         0
88     March 21, 2025         0         0      49.10          0         0
89     March 21, 2025         0         0      44.10          0         0

        Unnamed: 7_level_0      Puts                                  \
   Vol.             Strike Bid price Ask price Last price Net change
0     0             1230.0         0         0       0.10          0
1     0             1240.0         0         0       0.10          0
2     0             1250.0         0         0       0.10          0
3     0             1260.0         0         0       0.10          0
4     0             1270.0         0         0       0.10          0
..  ...                ...       ...       ...        ...        ...
85    0             1460.0         0         0      23.80          0
86    0             1470.0         0         0      27.50          0
87    0             1480.0         0         0      31.50          0
88    0             1490.0         0         0      35.90          0
89    0             1500.0         0         0      40.70          0


   Open int. Vol.
0          0    0
1          0    0
2          0    0
3          0    0
4          0    0
..       ...  ...
85         0    0
86         0    0
87         0    0
88         0    0
89         0    0

[90 rows x 14 columns]