# Explore Montreal Exchange

Using python to inspect [Montréal Exchange](https://www.m-x.ca/en/trading/data/options-list) for option prices

## Imports

In [1]:
import sys
import requests
import bs4
import lxml
import pandas as pd
from datareader import get_list

In [2]:
versions = f"""
python vesion : {''.join((str(sys.version_info[0]),'.',str(sys.version_info[1]),'.',str(sys.version_info[2])))}
pandas version: {pd.__version__}
requests version: {requests.__version__}
bs4 version: {bs4.__version__}
lxml version: {lxml.__version__}
"""
print(versions)

python vesion : 3.11.5
pandas version: 2.1.0
requests version: 2.31.0
bs4 version: 4.12.2
lxml version: 5.3.0

## Get List of Options

In [4]:
# inspect list of index options
# can also choose from etf, equity, currency, weekly
df = get_list('index')
df

,Name of Underlying Instrument,Option Symbol,Underlying Symbol
0,S&P/TSX 60 Index Standard Options,SXO,TX60
1,S&P/TSX Capped Utilities Index Options,SXV,TTUT
2,S&P/TSX Composite Index Banks (Industry Group)...,SXJ,TXBA

In [15]:
response = pd.read_html('https://www.m-x.ca/en/trading/data/quotes?symbol=BTCQ*#quotes')[0]
response

     Unnamed: 0_level_0                         Calls  \
            Expiry date                     Bid price
0      October 18, 2024                          4.40
1      October 18, 2024                          3.85
2      October 18, 2024                          3.40
3      October 18, 2024                          2.90
4      October 18, 2024                          2.45
..                  ...                           ...
158  September 19, 2025                          3.10
159  September 19, 2025                          2.80
160  September 19, 2025                          2.40
161  September 19, 2025                          2.10
162                 NaN  Open interest: 203 Volume: 0

                                                                 \
                        Ask price                    Last price
0                            4.80                          4.80
1                            4.30                          4.30
2                            3.85                          3.85
3                            3.35                          3.35
4                            2.90                          2.90
..                            ...                           ...
158                          4.85                          4.85
159                          4.50                          4.50
160                          4.15                          4.15
161                          3.85                          3.85
162  Open interest: 203 Volume: 0  Open interest: 203 Volume: 0

                                                                 \
                       Net change                     Open int.
0                               0                             0
1                               0                             0
2                               0                             0
3                               0                             0
4                               0                             0
..                            ...                           ...
158                             0                             0
159                             0                             0
160                             0                             0
161                             0                             0
162  Open interest: 203 Volume: 0  Open interest: 203 Volume: 0

                                  Unnamed: 7_level_0  \
                             Vol.             Strike
0                               0                9.5
1                               0               10.0
2                               0               10.5
3                               0               11.0
4                               0               11.5
..                            ...                ...
158                             0               14.0
159                             0               15.0
160                             0               16.0
161                             0               17.0
162  Open interest: 203 Volume: 0                NaN

                            Puts                               \
                       Bid price                    Ask price
0                              0                         0.12
1                              0                         0.13
2                              0                         0.14
3                           0.01                         0.14
4                           0.01                         0.19
..                           ...                          ...
158                         2.95                         4.70
159                         3.55                         5.30
160                         4.20                         6.00
161                         4.90                         6.65
162  Open interest: 41 Volume: 0  Open interest: 41 Volume: 0

                                                               \
                      Last price                   Net change
0                           0.12                            0
1                           0.13                            0
2                           0.14                            0
3                           0.14                            0
4                           0.19                            0
..                           ...                          ...
158                         4.70                            0
159                         5.30                            0
160                         6.00                            0
161                         6.65                            0
162  Open interest: 41 Volume: 0  Open interest: 41 Volume: 0


                       Open int.                         Vol.
0                              0                            0
1                              0                            0
2                              0                            0
3                              0                            0
4                              0                            0
..                           ...                          ...
158                            0                            0
159                            0                            0
160                            0                            0
161                            0                            0
162  Open interest: 41 Volume: 0  Open interest: 41 Volume: 0

[163 rows x 14 columns]